[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pymodes = "*"
pandas = "*"
SQLAlchemy = "*"

[dev-packages]
setuptools = "*"
wheel = "*"
build = "*"
sphinx = "*"
ipython = "*"

[requires]
python_version = "3.10"
