[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymodes = "*"
jupyterlab = "*"
plotly = "*"
ipywidgets = "*"
pandas = "*"
geopandas = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]
ipython = "*"
rope = "*"

[requires]
python_version = "3.8"
